

/* svg {
    position: absolute
  } */

path{
    fill: transparent;
}


.hedehog{
    display: flex;
    justify-content:center;
    align-items:center;
}
.hedehog img{
    width:840px;
    height:750px;
}
.upSideDown{
    display: inline;
    font-size: 100px;
    font-style: bold;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}